
/**********************/
/* MARK:STYLING BACKGROUND 
/**********************/

body {
    overflow: hidden;
}

main {
    /* https://cssgradient.io/ */
    background: var(--background-color);
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr  1fr 10fr;

}

/**********************/
/*    MARK:STYLING interactive buttons   
/**********************/

main > form:first-of-type {
    place-self: center;
    /* is scale een juiste om te gebruiken of kan ik beter font-size gebruiken? */
    scale: 1.5; 
}

main > label{    
    place-self: center;
       input[type="range"] {
            width: 50dvw;
}
}

h1 {
    /* font-family: Football stage; */
    font-family: BitcountPropVariabele, FantasyMonospace, monospace;
    place-self: center center;
    font-size: 2.5rem;
    margin: 1rem;
    font-weight: 300;

    animation: robot-title-animation 6s infinite linear;
    
}

@keyframes robot-title-animation {
    0% {
        font-variation-settings: "ELXP" 0,"slnt" -8;
        font-weight: 200;
    } 50% {
        font-variation-settings: "ELXP" 77, "slnt" 0;
        font-weight: 474.75;
        color: var(--accent-color-2);
        text-shadow: 1px 1px 20px var(--accent-color-2);
    } 100% {
        font-variation-settings: "ELXP" 0,"slnt" -8;
        font-weight: 200;
    }
}