* {
    margin: 0;
    padding: 0;
}

/**********************/
/* MARK:BASIS KLEUREN
/**********************/
:root {
    color-scheme: light dark;

    /* COLORS */
    --color-outer-eyes: light-dark(#ff80bf, #ed86ff);
    --color-robot: light-dark(#fccff4, rgb(233, 192, 250));
    --accent-color-1: light-dark(#ff80bf, #ed86ff);
    --accent-color-2: light-dark(#fa439f,#fa43f4);
    --outer-lines: #181818;
    --color-shadow: light-dark(#da6ca3, #c56ed5); 
    --color-tooth: #cecece;

 --background-color:
  linear-gradient(
    180deg in oklch,
    rgba(8,178,204,1) 1%,
    rgba(84,212,225,1) 43%,
    rgba(107,222,232,1) 59%,
    rgba(192,225,142,1) 76%,
    rgba(230,226,101,1) 82%,
    rgba(83,207,130,1) 83%,
    rgba(100,206,119,1) 88%,
    rgba(90,181,78,1) 100%
  );
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@media/prefers-color-scheme  */
@media(prefers-color-scheme: dark){
    :root {
        --background-color: 
        linear-gradient(
            180deg in oklch,
            rgba(42, 14, 143, 1) 1%, 
            rgba(67, 70, 232, 1) 43%, 
            rgba(67, 70, 232, 1) 59%, 
            rgba(225, 163, 142, 1) 77%, 
            rgba(230, 181, 101, 1) 82%, 
            rgba(49, 125, 78, 1) 83%, 
            rgba(57, 117, 68, 1) 88%, 
            rgba(39, 79, 33, 1) 100%);
    }
}

/**********************/
/* MARK:FONTS
/**********************/
@font-face {
    /* https://fonts.google.com/selection?categoryFilters=Technology:%2FTechnology%2FVariable;Feeling:%2FExpressive%2FInnovative;Appearance:%2FTheme%2FTechno */
    font-family: BitcountPropVariabele;
    src: url(../fonts/bitcountpropdouble-variabele.ttf);
}

@font-face {
    /* https://fonts.google.com/specimen/Rubik+Wet+Paint?categoryFilters=Seasonal:%2FSeasonal%2FHalloween */
    font-family: RubicWetPaint;
    src: url(../fonts/rubikwetpaint-regular.ttf);
}

@font-face {
     /* https://fonts.google.com/specimen/Danfo?categoryFilters=Technology:%2FTechnology%2FVariable;Appearance:%2FTheme%2FWoodtype */
    font-family: Danfo;
    src: url(../fonts/danfo-regular-variable-font.ttf);
}


/**********************/
/* MARK:BASIC POSITIONERING
/**********************/

body {
    overflow: hidden;
}

main {
    /* https://cssgradient.io/ */
    background: var(--background-color);
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr  1fr 10fr;
}

/**********************/
/*    MARK:STYLING BUTTONS  
/**********************/

main > form:first-of-type {
    place-self: center;
    /* is scale een juiste om te gebruiken of kan ik beter font-size gebruiken? */
    scale: 1.5; 
}

main > label{    
    place-self: center;
       input[type="range"] {
            width: 40dvw;
}
}

footer {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0;
}

/**********************/
/*    MARK:STYLING H1  
/**********************/
h1 {
    /* font-family: Football stage; */
    font-family: BitcountPropVariabele, FantasyMonospace, monospace;
    place-self: center;
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    font-weight: 300;

    animation: robot-title-animation 6s infinite linear;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/font-variation-settings */
@keyframes robot-title-animation {
    0% {
        font-variation-settings: "ELXP" 0,"slnt" -8;
        font-weight: 200;
    } 50% {
        font-variation-settings: "ELXP" 100, "slnt" 0;
        font-weight: 474.75;
        color: var(--accent-color-2);
        text-shadow: 1px 1px 20px var(--accent-color-2);
    } 100% {
        font-variation-settings: "ELXP" 0,"slnt" -8;
        font-weight: 200;
    }
}