/* Hier staat de styling van de robot in en de eerste animaties die je meteen ziet bij binnenkomst*/
main {
  /* Variabele animatie */
    --aIterationCount: infinite;
    --atimingFunction-linear: linear;
    --aDirectionAlternate: alternate;

    /* Variabele torso */
    --ad-torso: 6s;

    /* Variabele animatie armen */
    --ad-arm-links: 4s;
    --ad-arm-rechts: 4s;
    --aIterationCount: infinite;

    /* Variabele animatie benen */
    --ad-been-links:4.5s;
    --ad-been-rechts: 4.5s;
    --aDelay-been-rechts: 3s;

}


/**********************/
/*    MARK:STYLING TORSO   
/**********************/
/* Styling torso */
main > div {
    place-self: end center;
    margin-bottom: 3rem;
    width: 200px;
    height: 300px;
    scale: .65;

    &::before {
        content:"";
        position: absolute;
        background-color: var(--color-robot);
    /* https://9elements.github.io/fancy-border-radius/#35.51.35.51--500.400 */
        border-radius: 51% 49% 49% 51% / 35% 35% 65% 65%;
        box-shadow: inset 2px -3px 22px 3px var(--color-shadow);
        width: 100%;
        height:100%;
    }

    /* Extra variabele --an voor de veranderende themes voor de torso*/
    animation-name:var(--an-torso, --torso);
    animation-duration: var(--ad-torso);
    animation-iteration-count: var(--aic);
    animation-timing-function: var( --atimingFunction-linear);
    animation-direction: alternate; 

    input[type="checkbox"] {
        /* algemene positie */
        position: absolute;
        top: 20%;
        left: 10%;
        appearance: none;

        /* Algemene styling button */
            &::before {
            position: absolute;
            content:" ";
            width: 15px;
            height: 15px;
            border: solid 1px var(--outer-lines);
            border-radius: 25%;
            }

            &:checked::after {
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 25%;
            }

            & + input[type="checkbox"] {
                left: 20%;
            }
    }
}


@keyframes --torso {
    0% {
        rotate: 0;
    } 25% {
        rotate: 1deg;
    } 50%{
        rotate: 2deg;
    } 75% {
        rotate: 1deg;
    } 100% {
        rotate: 0;
    }
}


/**********************/
/*    MARK:Styling hoofd
/**********************/
div form {
    display: block;
    position: absolute;
    top: -150px;
    right: -10px;
    width: 220px;
    height: 150px;
    border-radius: 49% 51% 49% 51% / 60% 48% 52% 40%;
    background-color: var(--color-robot);
    box-shadow: inset 2px -3px 22px 3px var(--color-shadow);

    /* STYLING ANTENNE */
    > input[type="checkbox"] {
        position: absolute;
        top: -40px;
        left: 95px;

        &:first-of-type::before {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: none;
            background-color: var(--color-robot);
        }

        &:first-of-type::after {
            position: absolute;
            bottom: -40px;
            left: 5px;
            content:" ";
            width: 5px;
            height: 25px;
            background-color: var(--color-robot);
        }

        &:checked::before {
            background-color: var(--accent-color-2);
            /* box-shadow: 1px 1px 15px 10px var(--accent-color-2); */
            animation-name: var(--an-antenne, --pulsingGlow);
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            animation-direction: alternate; 
        }
    }

    /* STYLING OGEN */
    > div {
        position: absolute;
        left: 40px;
        top: 40px;
        width: 150px;
        height: 60px;
        background-color: var(--accent-color-1);
        border-radius: 49% 51% 49% 51% / 60% 48% 52% 40%;
        box-shadow: 1px 1px 15px -1px var(--accent-color-2);



        > input[type="checkbox"]{
            --blink-duration: 1.5s;

            left: 50%;
            top: 10px;

            &::before {
                border-radius: 50%;
                padding: 10px;

                animation-name: --blink;
                animation-duration: var(--blink-duration);
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-direction: alternate;  
            }

            &:checked::after {
                content:" ";
                top: 8px;
                left: 8px;
                padding: 5px;
                border-radius: 50%;
                background-color: var(--outer-lines);

                animation-name: --blink;
                animation-duration: var(--blink-duration);
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-direction: alternate; 
            }
        }
    }

    /* mond */
    > input[type="checkbox"]:nth-of-type(2) {
        position: absolute;
        top: 110px;
        left: 66px;
        width: 100px;
        height: 25px;
        background-color: var(--accent-color-1);
        border-radius: 30% 30% 0 0;
        border-bottom-style: inset;
        border-bottom-left-radius: 90%;
        border-bottom-right-radius: 90%;
        /* transform: rotate(180deg); */

        &::before {
            border: none;
        }
    }
}

@keyframes --blink {
    0% {
        transform:scaleY(1);
    } 92% {
        transform:scaleY(1);
    } 100% {
        transform:scaleY(.1);
    } 
}

@keyframes --pulsingGlow {
    0% {
        box-shadow: 1px 1px 15px 13px var(--accent-color-2);
    } 50% {
        box-shadow: 1px 1px 20px 7px var(--accent-color-2);
    } 100% {
        box-shadow: 1px 1px 15px 13px var(--accent-color-2);
    }
}

/**********************/
/*    MARK:Styling armen  
/**********************/
main > div > div:where(:nth-of-type(2), :nth-of-type(3)) {
    content:" ";
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: var(--color-robot);
    border-radius: 30% 30% 50% 30%;
    transform: rotate(125deg);
    transform-origin: left;
    box-shadow: inset 2px -3px 22px 3px var(--color-shadow);


    > div {
        position: absolute;
        width: 100px;
        height: 50px;
        content:" ";
        top: 10px;
        left: 130px;
        background-color: var(--color-robot);
        transform: rotate(-60deg);
        border-radius: 30% 50% 50% 50%;
        transform-origin: inherit;
         box-shadow: inset 2px -3px 22px 3px var(--color-shadow);
    }
}

main > div > div:nth-of-type(2) {
    animation-name: var(--an-arm-links, --swingArmLinks);
    animation-duration: var(--ad-arm-links);
    animation-iteration-count: var(--aIterationCount);
    animation-timing-function: var( --atimingFunction-linear); 
}

main > div > div:nth-of-type(3) {
    animation-name: var(--an-arm-rechts, --swingArmRechts);
    animation-duration: var(--ad-arm-rechts);
    animation-iteration-count: var(--aIterationCount);
    animation-timing-function: var( --atimingFunction-linear); 
}

@keyframes --swingArmLinks {
    0% {
        rotate: 0;
    } 25% {
        rotate: 30deg;
    } 50%{
        rotate: -60deg;
    } 100% {
        rotate: 0;
    }
}


@keyframes --swingArmRechts {
    0% {
        rotate: 0;
    } 25% {
        rotate: -60deg;
    } 50%{
        rotate: 30deg;
    } 100% {
        rotate: 0;
    }
}


main > div > div:nth-of-type(2) { 
    left: 10px;
}

main > div > div:nth-of-type(3) {
    left: 180px;
    transform: rotate(60deg);
    z-index: -1;
}


/**********************/
/*    MARK:Styling benen  
/**********************/
main > div > div:nth-of-type(4) div, main > div > div:nth-of-type(5) div {
    content: " ";
    width: 30px;
    height: 30px;
    background-color: var(--accent-color-1);
    border-radius: 50%;
    transform: translateY(6px);

    &:not(:has(div)){
        width: 50px;
    }

      > div > div > div > div > div > div > div > div > div > div {
        animation: none;

    }
}

/* where waar kan, is alleen hoog nodig */
main > div > div:where(:nth-of-type(4), :nth-of-type(5)) {
    position: absolute;
    bottom: -10px;
    left: 125px;
}

main > div > div:nth-of-type(4) {
    z-index: -1;
    div {
        animation-name: var(--an-been-rechts, --lopendBeenRechts);
        animation-duration: var(--ad-been-rechts);
        animation-iteration-count: var(--aIterationCount);
        animation-timing-function: var( --atimingFunction-linear);
        animation-direction: var(--aDirectionAlternate); 
        animation-delay: var(--aDelay-been-rechts);
    }}

@keyframes --lopendBeenRechts {
    0% {
        rotate: 0;
    } 25% {
        rotate: 12deg;
    } 50%{
        rotate: -5deg;
    } 75% {
        rotate: 12deg;
    } 100% {
        rotate: 0;
    }
}

main > div > div:nth-of-type(5) {
    left: 55px;

    div {
        animation-name: var(--an-been-links, --lopendBeenLinks);
        animation-duration: var(--ad-been-links);
        animation-iteration-count: var(--aIterationCount);
        animation-timing-function: var( --atimingFunction-linear);
        animation-direction: var(--aDirectionAlternate); 
    }
}


@keyframes --lopendBeenLinks {
    0% {
        rotate: 0;
    } 25% {
        rotate: 12deg;
    } 50%{
        rotate: -5deg;
    } 75% {
        rotate: 12deg;
    } 100% {
        rotate: 0;
    }
}

/**********************/
/* MARK: range animation */
/**********************/
@container style(--fastWalk >= 2) {
    main {
    /* Variabele animatie armen */
    --ad-arm-links: 2.25s;
    --ad-arm-rechts: 2.25s;

    /* Variabele animatie benen */
    --ad-been-links:3.5s;
    --ad-been-rechts: 3.5s;
    --aDelay-been-rechts: 2s;
    }
}

@container style(--fastWalk >= 4) {
    main {
    --ad-arm-links: 1.25s;
    --ad-arm-rechts: 1.25s;

    --ad-been-links:2.5s;
    --ad-been-rechts: 2.5s;
    --aDelay-been-rechts: 1s;
    }
}

@container style(--fastWalk >= 6) {
    main {
    --ad-arm-links: 1s;
    --ad-arm-rechts: 1s;

    --ad-been-links:2s;
    --ad-been-rechts: 2s;
    --aDelay-been-rechts: .75s;
    }
}


@container style(--fastWalk >= 8) {
    main {
    --ad-arm-links: .75s;
    --ad-arm-rechts: .75s;

    --ad-been-links:1.5s;
    --ad-been-rechts: 1.5s;
    --aDelay-been-rechts: .5s;
    }
}


@container style(--fastWalk >= 10) {
    main {
    --ad-arm-links: .5s;
    --ad-arm-rechts: .5s;
  
    --ad-been-links: 1s;
    --ad-been-rechts: 1s;
    --aDelay-been-rechts: .25s;
    }
}