html:has([value="krab"]:checked) {
    --view:krab;
}

@container style(--view:krab) {
    body {
        /* https://www.color-hex.com/color-palette/1031416 */

        --color-outer-eyes: light-dark( #f9d4d2, #95c3ff);
        --color-robot: light-dark(#e6544c, #3373c4);
        --accent-color-1: light-dark(#db3d35, #1750ac);
        --accent-color-2: light-dark(#e02920, #003397);
        --outer-lines: #181818;
        --color-shadow: light-dark(#e02920, #003397);

        --background-color: 
        linear-gradient(180deg in oklch,rgba(20, 161, 204, 1) 58%,
        rgba(25, 137, 145, 1) 59%, rgba(25, 137, 145, 1) 63%, 
        rgba(25, 137, 145, 1) 69%, rgba(31, 157, 166, 1) 81%, 
        rgba(255, 240, 179, 1) 82%, rgba(255, 240, 179, 1) 85%, 
        rgba(237, 214, 121, 1) 95%, 
        rgba(237, 214, 121, 1) 100%);

        --animation-duration-krab: 4s;

         /* MARK: FOOTER ANIMATIE ICON */
        footer {
            
            div::after {
                content: "🐚";
                bottom: 30px;
                animation:none;
            }

             div::before {
                content: "🌴";
             }
        
            }   

        

        footer:hover {
            animation: --easterEggKrab 8s linear;
            div::after {
                content: "🦀";
                position: absolute;
            }}
    }

     /* TITLE STYLING */
         h1 {
            color: white;
            font-family: danfo, monospace;
            position: relative;

            span::after {
                    content: "🫧";
                    position: absolute;
                    font-size: 20px;
                    bottom: 5px;
                    opacity: 0;

                    animation: --letterShell 6s infinite linear;
            
            }

            span {
                &:nth-of-type(1)::after{
                 left:2px;
                }

                &:nth-of-type(2)::after {
                    animation-delay: 1s;
                    right:145px;
                }

                &:nth-of-type(3)::after {
                    animation-delay:2s;
                    right:53px;

                }
            }
        }
            
    /* torso */
    main > div {

        width: 300px;
        height: 200px;

    }

    /* Hoofd */
    div form  {
        right: 30px;

        > input[type="checkbox"]:first-of-type {
            left: 40px;

            &::before {
                width: 20px;
                height: 20px;
                left: -10px;
                bottom: -20px;
            }

            &::after {
                width: 10px;
                height: 50px;
                bottom: -60px;
                transform: rotate(-20deg); 
            }
        }

        &::before {
            content: " ";
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: var(--color-robot);
            border-radius: 50%;
            left: 180px;
            bottom: 170px;
        }

        &::after {
            content: " ";
            position: absolute;
            width: 10px;
            height: 50px;
            background-color: var(--color-robot);
            left: 175px;
            bottom: 130px;
            transform: rotate(20deg);
        }

    }

    /* arm rechts */
    main > div > div:nth-of-type(3) {
        left: 280px;
        transform: rotate(-10deg);
        animation: krabArmMove var(--animation-duration-krab) infinite linear;
    
        > div{
            animation: krabLowerArmMoveLinks var(--animation-duration-krab) infinite linear;
            &::after {
                content: " ";
                position: absolute;
                width: 100px;
                height: 100px;
                background: conic-gradient(transparent 48deg, var(--accent-color-1) 48deg 195deg, var(--accent-color-1) 170deg);
                border-radius: 50%;
                top: -20px;
                right: -60px;
            }
    }
    }


    /* arm links */
    main > div > div:nth-of-type(2) {
        left:20px;
        transform: rotateY(180deg);
        animation: krabArmMoveLinks var(--animation-duration-krab) infinite linear;

        > div{
            animation: krabLowerArmMoveLinks var(--animation-duration-krab) infinite linear;
            &::after {
                content: " ";
                position: absolute;
                width: 100px;
                height: 100px;
                /* https://www.youtube.com/watch?v=XMEX9_HvW2k&t=2s */
                background: conic-gradient(transparent 48deg, var(--accent-color-1) 48deg 195deg, var(--accent-color-1) 170deg);
                border-radius: 50%;
                top: -20px;
                right: -60px;
                
            }
        }
    }


    /* been links */
    main > div > div:nth-of-type(5) {
        left: 80px;
        rotate: 70deg;
        
        div {
            animation: krabBeenLinks var(--animation-duration-krab) infinite linear;
        }

        div:not(:has(div)) {
            width: 150px;
        }

    }



    /* been rechts */
    main > div > div:nth-of-type(4) {
        left: 195px;
         /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/scaleX */
        transform: rotate(-80deg) scaleX(-1);

        div {
            animation: krabBeenRechts var(--animation-duration-krab) infinite linear 1s;

        }

        div:not(:has(div)) {
            width: 150px;
        }
    }
}


/* MARK: Keyframes */
 /* De keyframes moeten buiten de style querie gezet worden anders werkt het niet */

/* ARMEN */
@keyframes krabArmMove {
    0% {
       rotate: 0deg;
    } 25% {
        rotate: -30deg;
    } 50%{
        rotate: -50deg;
    } 75% {
        rotate: -20deg;
    }100% {
        rotate: 0deg;
    }
}

@keyframes krabArmMoveLinks {
    0% {
       rotate: 0deg;
    } 25% {
        rotate: -30deg;
    } 50%{
        rotate: 50deg;
    } 75% {
        rotate: -20deg;
    }100% {
        rotate: 0deg;
    }
}

@keyframes krabLowerArmMoveLinks {
    0% {
       rotate: -40deg;
    } 
    25% {
        rotate: -20deg;
    } 
    50%{
        rotate: 30deg;
    } 
    75% {
        rotate: -20deg;
    }
    100% {
        rotate: -40deg;
    }
}

 /* BENEN */
@keyframes krabBeenLinks {
    0% {
        rotate: 0;
    } 25% {
        rotate: 8deg;
    } 50%{
        rotate: 0deg;
    } 75% {
        rotate: 8deg;
    } 100% {
        rotate: 0;
    }
}

@keyframes krabBeenRechts {
    0% {
        rotate: 0;
    } 25% {
        rotate: 5deg;
    } 50%{
        rotate: 0deg;
    } 75% {
        rotate: 5deg;
    } 100% {
        rotate: 0;
    }
}


 /* ANIMATIE BUBBLES UIT LETTERS */
@keyframes --letterShell {
    0% {
        opacity: 0;
    }
    
    50% {
        transform: translateY(0);
        opacity: .5;
        font-size: 20px;
        rotate: 20deg;
    }70% {
        rotate: 0deg;
    } 80% {
        rotate: 20deg;
    } 
    100% {
        transform: translateY(50rem);
        opacity: 1;
        font-size: 50px;
        rotate: 0deg;
    }
}

 /* KRABBETJE ANIMATIE */
@keyframes --easterEggKrab{
    from {
        transform: translateX(0);
    } to {
        transform: translateX(100px);
    }
}


/* MARK: Faster krab walk */
@container style(--fastWalk >= 2) {
    body {
        --animation-duration-krab: 4s;
    }
}

@container style(--fastWalk >= 4) {
    body {
        --animation-duration-krab: 3.25s;
    }
}

@container style(--fastWalk >= 6) {
    body {
        --animation-duration-krab: 1.75s;
    }
}

@container style(--fastWalk >= 8) {
    body {
        --animation-duration-krab: 1.5s;
    }
}

@container style(--fastWalk >= 10) {
    body {
        --animation-duration-krab: 1s;
    }
}
