html:has([value="vampire"]:checked) {
    --view:vampier;
}


/* container style queries */
@container style(--view:vampier) {
   /* Blood animatie */
   /* main::before {
        content: "";
        position: absolute;
        width: 100dvw;
        height: 10dvh;
        top: 0;
        background-color: crimson;
        /* z-index: 2; */
   /* } */ 
   
    /* torso */
    /* main > div {
        
    } */

    /* Hoofd */

    div form  > input[type="checkbox"]:nth-of-type(2){
        background-color: crimson;
    
        &::after, &::before {
        content:" ";
        position: absolute;
        bottom: -7px;
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/border-top-color */
        border: 15px solid transparent; 
        border-top-color: var(--color-tooth);
        }

        &::before {
            top: 0px;
            right: 10px;
            width: 0;
            height: 0;
        }
    }

    /* arm links */
    main > div > div:nth-of-type(3) {
        --an-arm-rechts: --VampierArmRight;

        > div {
            animation-name:--VampierArmRightUnderarm;
            animation-duration: var(--ad-arm-links);
            animation-iteration-count: var(--aIterationCount-arm-links);
            animation-timing-function: var(--atf-arm-links); 
        }
    }

    /* arm rechts */
    main > div > div:nth-of-type(2) {
        --an-arm-links: --VampierArmLeft;
        /* --ad-arm-rechts: .1s;
        --aIterationCount-arm-rechts: infinite;
        --atf-arm-rechts: linear;  */

        /* transform: rotate(180deg); */

        > div {
            transform: rotate(210deg);
            left: 150px;

            animation-name:--VampierArmLeftUnderarm;
            animation-duration: var(--ad-arm-links);
            animation-iteration-count: var(--aIterationCount-arm-links);
            animation-timing-function: var(--atf-arm-links); 
        }
    }

    /* been links */
    /* main > div > div:nth-of-type(5) div {

    } */

    /* been rechts */
    /* main > div > div:nth-of-type(4) div {

    } */
}

@keyframes --VampierArmLeft {
    0% {
       rotate: 0deg;
    } 25% {
        rotate: 10deg;
    } 50%{
        rotate: 20deg;
    } 100% {
        rotate: 0deg;
    }
}

@keyframes --VampierArmLeftUnderarm {
    0% {
       rotate: 0deg;
    } 25% {
        rotate: -30deg;
    } 50%{
        rotate: -80deg;
    } 100% {
        rotate: -30deg;
    }
}

@keyframes --VampierArmRight {
    0% {
       rotate: 0deg;
    } 25% {
        rotate: 10deg;
    } 50%{
        rotate: 20deg;
    } 100% {
        rotate: 0deg;
    }
}

@keyframes --VampierArmRightUnderarm {
    0% {
       rotate: 0deg;
    } 25% {
        rotate: 50deg;
    } 50%{
        rotate: 30deg;
    } 100% {
        rotate: 40deg;
    }
}