html:has([value="krab"]:checked) {
    --view:krab;
}

@container style(--view:krab) {
    body {
        /* https://www.color-hex.com/color-palette/1031416 */

        --color-outer-eyes: light-dark( #f9d4d2, #95c3ff);
        --color-robot: light-dark(#e6544c, #3373c4);
        --accent-color-1: light-dark(#db3d35, #1750ac);
        --accent-color-2: light-dark(#e02920, #003397);
        /* --accent-color-3: #a62e8c; */
        --outer-lines: #181818;
        --color-shadow: light-dark(#e02920, #003397);

        --background-color: 
        linear-gradient(180deg in oklch,rgba(20, 161, 204, 1) 58%,
        rgba(25, 137, 145, 1) 59%, rgba(25, 137, 145, 1) 63%, 
        rgba(25, 137, 145, 1) 69%, rgba(31, 157, 166, 1) 81%, 
        rgba(255, 240, 179, 1) 82%, rgba(255, 240, 179, 1) 85%, 
        rgba(237, 214, 121, 1) 95%, 
        rgba(237, 214, 121, 1) 100%);

        --animation-duration-krab: 4s;
    
    }


            
    /* torso */
    main > div {

        width: 300px;
        height: 200px;

    }

        /* Hoofd */
    div form  {
        right: 30px;

        > input[type="checkbox"]:first-of-type {
            left: 40px;

            &::before {
                width: 20px;
                height: 20px;
                left: -10px;
                bottom: -20px;
            }

            &::after {
                width: 10px;
                height: 50px;
                bottom: -60px;
                transform: rotate(-20deg); 
            }
        }

        &::before {
            content: " ";
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: var(--color-robot);
            border-radius: 50%;
            left: 180px;
            bottom: 170px;
        }

        &::after {
            content: " ";
            position: absolute;
            width: 10px;
            height: 50px;
            background-color: var(--color-robot);
            left: 175px;
            bottom: 130px;
            transform: rotate(20deg);
        }

    }

    /* arm rechts */
    main > div > div:nth-of-type(3) {
        left: 280px;
        transform: rotate(-10deg);
        animation: krabArmMove var(--animation-duration-krab) infinite linear;
    
        > div{
            animation: krabLowerArmMoveLinks var(--animation-duration-krab) infinite linear;
            &::after {
                content: " ";
                position: absolute;
                width: 100px;
                height: 100px;
                background: conic-gradient(transparent 48deg, var(--accent-color-1) 48deg 195deg, var(--accent-color-1) 170deg);
                border-radius: 50%;
                top: -20px;
                right: -60px;
            }
    }
    }


    /* arm links */
    main > div > div:nth-of-type(2) {
        left:20px;
        transform: rotateY(180deg);
        animation: krabArmMoveLinks var(--animation-duration-krab) infinite linear;

        > div{
            animation: krabLowerArmMoveLinks var(--animation-duration-krab) infinite linear;
            &::after {
                content: " ";
                position: absolute;
                width: 100px;
                height: 100px;
                /* https://www.youtube.com/watch?v=XMEX9_HvW2k&t=2s */
                background: conic-gradient(transparent 48deg, var(--accent-color-1) 48deg 195deg, var(--accent-color-1) 170deg);
                border-radius: 50%;
                top: -20px;
                right: -60px;
                
            }
        }
    }


    /* been links */
    /* main > div > div:nth-of-type(5) {
        
        left: 80px;

        div {
  

            > div > div > div > div > div > div  {

            }
        }
    } */



    /* been rechts */
    /* main > div > div:nth-of-type(4) {
        left: 195px;
        div {
 

        
            > div > div > div > div > div > div  {

            }
        }
    }; */
}

@keyframes krabArmMove {
    0% {
       rotate: 0deg;
    } 25% {
        rotate: -30deg;
    } 50%{
        rotate: -50deg;
    } 75% {
        rotate: -20deg;
    }100% {
        rotate: 0deg;
    }
}

@keyframes krabArmMoveLinks {
    0% {
       rotate: 0deg;
    } 25% {
        rotate: -30deg;
    } 50%{
        rotate: 50deg;
    } 75% {
        rotate: -20deg;
    }100% {
        rotate: 0deg;
    }
}

@keyframes krabLowerArmMoveLinks {
    0% {
       rotate: -40deg;
    } 
    25% {
        rotate: -20deg;
    } 
    50%{
        rotate: 30deg;
    } 
    75% {
        rotate: -20deg;
    }
    100% {
        rotate: -40deg;
    }
}
